
body{
    background-color: #d6d1d1;

    /* overflow-y: hidden;
    overflow-x: hidden; */
}

header {
   background: linear-gradient(#47DFA8, #4FB9F8);
   display: flex;
   justify-content: right;
   padding-right: 15px;
   height: 65px;
   
}

.main {
    display: flex;
}

.sidebar {
   background: #9799ff;
   height: 90vh;
   padding-top: 20px;
   display: flex;
 
}
.sidebar li {
   list-style: none;
   list-style-type: none;
   cursor: pointer; 
   width: 26vh;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 2px;
   border-radius: 5px;
   box-shadow: 1px 2px 1px 1px #888888;
}
.sidebar svg {
    margin-right: 0.5rem; 
 }

.sidebar li:hover {
    background: #b1abae;
  
}
.sidebar ul {
   margin: 0px;
   padding: 0px;
}

.mainPessoas{
  display:flex;
  justify-content: center;
  margin-left: 5rem;
  margin-top: 2rem;
  background-color: #fff;
  width: 76%;
}

#nome {
  width: 76%;
  position: left;
}